<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="QLPKConnectionString"
         value ="Data Source=HONGHANH\SQLEXPRESS;Initial Catalog=Project1;Integrated Security=True"/>
  </appSettings>
</configuration>